<html ng-app="page7Module">
<head>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <script src="scritps/Page7Controller.js"></script>
    <link href="style/page6.css" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body>
    <div ng-controller="page7Controller">

        <div>
            Rows to display: <input type="number" step="1" min="1" max="{{ employees.length }}" ng-model="rowLimit" />
        </div>
        
        <br/>


        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in employees | limitTo: rowLimit">
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.birthDate | date:"MM/dd/yyyy" }}</td>                   
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>